multidict==6.7.1
propcache==0.5.2
pyaes==1.6.1
pyasn1==0.6.4
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.3
rsa==4.9.1
Telethon==1.44.0
typing-inspection==0.4.4
typing_extensions==4.16.0
yarl==1.24.5